
/* replace the aqua green background with something that matches your color scheme.*/


/*you can use .pngs with alpha transparency since you dont have to worry about IE6*/





/*replace the "Canvas" logo with your school's*/


 #header-logo, #header.no-user #header-logo {
  background: url("header_logo.png?v1") no-repeat scroll 0 0 transparent;

  bottom: 10px;

  height: 50px;

  left: 11px;

  width: 163px;

}


/* if you are going to replace the Canvas logo on the top left with your school's, 
you should move a (smaller) Canvas logo to the right side of the header'*/


/* note, you should set up you webserver to set the right headers to cache these images you link to for a long time (eg: 1 year) and change the querystring (the part that says "?v1") to force users to download a new version if you change it, see: http://developer.yahoo.com/performance/rules.html#expires */


 #header-logo-secondary {
background: url("header_canvas_logo.png?v1") no-repeat scroll 0 0 transparent;

  bottom: 11px;

  height: 23px;

  position: absolute;

  right: 26px;

  width: 118px;

  display: block;

}


/*make room for the menu since my sample logo is bigger than default canvas logo*/


 #menu{ margin-left: 0px; }



/*make the menu lettering white and make it go back to grey when you hover over*/

 
.menu-item .menu-item-title, .menu-item .menu-item-no-drop { color: #FFFFFF; }
.menu-item.hover .menu-item-title { color: #555555; }



/*style the #identity (the thing that says "Ryan Shaw | inbox | profile | logout | (feedback)" in top right) */


 #identity { background-color: #555555; }

 #identity .user_name a{ color: #d7d7d7 !important; }

 #identity a { color: #FFFFFF; }

 #identity #feedback_link{ border-color: #d9761d; background-color: #f6851f; }

 #identity .inbox a .unread-messages-count { background-color: #1f839e; }

/*Discussion Boards*/
.replies {  
 padding-left: 0px;  
 border-left: solid #f2f2f2 16px;  
}  
  
.discussion-read-state-btn {  
    top: 32px;
    left:-25px !important;  
}  
  
div.entry-content {  
  padding-left:0px !important;  
}  


 /*MOBILE LOGIN BOX*//*----------------*/  
  
  
  /*change location of image the image URL*/


/*update the background URL*/


#f1_container{
background: url("mobile_header_logo.png?v1") no-repeat center top; margin-top:10px; 
padding-top:95px;
}
/*update the image URL*/

/.face{
background: url("bg.jpg");/

/*resize the border or shadow of the login page*/
border-radius: 0.3em;
box-shadow: 0px 4px 10px #999;
}
/*resize the border or font weight of the login fields*/
input{
background: #f3f3f3;
border-radius: 5px;
font-weight: normal;
}
/*adjust the border, color, or shadow of the login button*/
button[type=submit]{
border: none;
color: ##ff0000;
text-shadow: 0 -1px 0 #36629b;
}
.flip-to-back, .flip-to-front{
text-shadow: 0 1px 0 #FFFFFF;
border: none;
border-radius: 6px;
background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top, #dddddd 0%, #f3f3f3 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(50%,#f3f3f3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dddddd 0%,#f3f3f3 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dddddd 0%,#f3f3f3 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dddddd 0%,#f3f3f3 50%); /* IE10+ */
background: linear-gradient(to bottom, #dddddd 0%,#f3f3f3 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
color: #888;
}


/*****************************************************************************/

/*login box*/
/* This will pick up your custom image */
/* The color of the text on the login page */
/* Optional I changed the height of the original image which was 687x396 */

 

#modal-box {
background: url("login-bg.jpg?v1") no-repeat  !important; 
color: #000000 !important;  

}

 

#flash_notice_message, #flash_error_message { background-color: #5b1933 !important; } 

/* Changes the background color of the flash notice. This is what you see at the top of the page when you login. */
 
#footer { margin: 0px auto !important; } 

/* Optional I moved the footer to be more consistent with our look. */


/*
.forgot_password_link {display: none;} 

/* Optional I hide the Forgot your Password link because we are using LDAP. We are still discussing whether or not this is a good idea. This means that anyone with a canvas internal account won't be able to change their password. */



 #modal-box h2 { margin: 55px 10px 0; } 

/* Optional login-bg.jpg is also used on the confirm registration page. Our logo is in the upper left and the text on the page overlapped it so I moved the whole registration form down.*/



 #modal-box-inner {
margin-top: 175px;
}


 #modal-box h1 {display: none; }

body.modal #footer{width:100% !important; margin-left:auto !important; margin-right:auto !important; text-align:center !important;} /*Comment out after inserting our own footer links*/
#footer img{padding: 0 10px 3px 0 !important;} /*Uncomment after inserting our own footer links*/
#content{padding-bottom:0 !important;}
.loginNote
{
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
	text-align:left;
	color: #000000;
	line-height: 1.5;
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 12px;

	border: 1px solid #000000;
	padding:2px;
	background-color:#FFFFFF;
	width:350px;
}